@import '../variables/color';

.border-box {
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dark-alpha-box {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.1);
}
