@import '../variables/color';

nav {
	border-width: 1px 1px 0 0;
	position: fixed;
	top: 0;
	height: 100%;
	padding-top: 5.5em;
	overflow-y: auto;
	width: 30em;
	z-index: 1;
}
div {
	height: 100%;
	display: flex;
	flex-direction: column;
}
a {
	text-transform: uppercase;
	padding: 1em 2em;
	padding-left: 1em;
	color: currentColor;
	transition: all ease-in-out 0.2s;
}
a:hover {
	color: $b-color;
	background-color: $b-color;
	padding-left: 2em;
}
a.active {
	color: $f-color;
	background-color: rgba(255, 255, 255, 0.5);
}
