@import './variables';
@import '../../node_modules/bulma/bulma.sass';

body {
	min-height: 100vh;
	background: linear-gradient(-45deg, #0a0303fa, #171735, #132b3e, #0f1329);
	background-size: 400% 400%;
	background-size: contain;
}
